name: greeting
description: A Dart and Flutter package for simple greetings.
version: 0.0.1
author: Felipe Augusto de Almeida
homepage: https://github.com/f2acode/greeting

environment:
  sdk: '>=2.1.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
